<!-- <p>data-bindings works!</p>
<div style="background-color:red">test</div>

<div [style.background-color]="bgColor" [style.fontSize]="'2em'" id="test">test</div>
<div [attr.style]="bgStyle" id="test">test</div>
<hr> -->


<label>user name: <input type="text" id="userName" #userNameInput></label>
<button (click)="logUser(userNameInput.value)">Get User Name</button>
<div>{{userNameInput.style.backgroundColor}}</div>
<hr>
<label>user age: <input type="number" (keypress)="keypressHandler($event)" ></label>
<hr>
<label>userName1: <input [(ngModel)]="userName"></label>
<hr>

<!-- TODO: why value is not updated -->
<input #userNameInput [value]="userName">
<button (click)="onInput(userNameInput.value)">On Click</button>

<div class="output">You've entered: {{userName}}</div>


