/* app-todo-item:nth-child(2n){
    display: block;
    background-color: aqua;
} */
div{
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
}
ul{
    margin-top: 1em;
    width: 98%;
}

li{
    border: 1px solid red;
}
